<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VoteNoDestino</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Bem vindo!</h1>
    <section>
      <h2>Por favor, escolha seu destino:</h2>
      <li>São Paulo</li>
      <li>Londres</li>
    </section>
    <%= yield %>
  </body>
</html>
